name: Wallet CI

on:
  push:
    branches: [ "master", "improvent/migration-compose" ]
  pull_request:
    branches: [ "master", "improvent/migration-compose" ]

 
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Create file Secrets.kt
        run: touch ./app/src/main/java/com/eldarwallet/domain/models/Secrets.kt
      - name: Putting data secrets
        env:
          DATA: ${{ secrets.SECRETS }}
        run: echo $DATA | base64 -d > ./app/src/main/java/com/eldarwallet/domain/models/Secrets.kt
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Unit Test
        run: ./gradlew testDebugUnitTest
